/* CSS base Document
/ Created By Camilo Medina // dev.cmedina@gmail.com 
/ Sometime in 2015 - 2016, update september 2018, version 2.019 */

/* CSS Document */
body{ color:#333; background-color:rgba(239,239,239,1.00); font-size: 15px; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}
.main-container{
  margin:10px auto;
  padding:15px;
  border:solid 1px rgba(0,0,0,0.2);
  background-color:#FFF;  
  -moz-animation: myfade 500ms ease-in; /* Chrome, Safari, Opera */ 
  -o-animation: myfade 500ms ease-in; /* Chrome, Safari, Opera */ 
  -webkit-animation: myfade 500ms ease-in; /* Chrome, Safari, Opera */ 
  animation: myfade 1s ease-in;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes myfade { from{ opacity:0; } to{opacity:1; } }
/* Standard syntax */
@keyframes myfade { from{ opacity:0; } to{opacity:1; } }

span.capital-letter{ display:block; float:left; font-size:40px; color:#000; margin:0px; padding:0px; line-height:40px;}
p:first-line {}
p { text-align:justify;}

/*HEADER*/
.container>header{padding: 0;position: relative;display: flex;overflow: hidden; min-height:60px; margin-bottom:20px;}
.container>header>p{ margin-bottom: 0;}
.container>header p,
.container>header b{position: relative; display: flex;}

.container>header p{ color: #fff; font-weight: 600; font-size: 45px; padding: 5px 15px;}
.container>header b{color: #fff; font-size: 30px; line-height: 34px; padding: 0 45px 15px 15px;}

.container>header:after{ content: ''; position: absolute;top: 0;right: 0;width: 0px;min-height: 100%;border-right: 0px solid transparent;border-left: 80px solid transparent;border-bottom: 170px solid #fff;}

.container>header.blue-bg{ 
background: rgb(5,147,207);
background: -moz-linear-gradient(90deg, rgba(5,147,207,1) 0%, rgba(13,99,160,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(5,147,207,1) 0%, rgba(13,99,160,1) 100%);
background: linear-gradient(90deg, rgba(5,147,207,1) 0%, rgba(13,99,160,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0593cf",endColorstr="#0d63a0",GradientType=1);
}
.container>header.orange-bg{
  background: rgb(245,143,31);
  background: -moz-linear-gradient(90deg, rgba(245,143,31,1) 0%, rgba(236,119,43,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(245,143,31,1) 0%, rgba(236,119,43,1) 100%);
  background: linear-gradient(90deg, rgba(245,143,31,1) 0%, rgba(236,119,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f58f1f",endColorstr="#ec772b",GradientType=1);
}
.container>header.green-bg{
  background: rgb(79,165,62);
  background: -moz-linear-gradient(90deg, rgba(79,165,62,1) 0%, rgba(34,131,52,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(79,165,62,1) 0%, rgba(34,131,52,1) 100%);
  background: linear-gradient(90deg, rgba(79,165,62,1) 0%, rgba(34,131,52,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4fa53e",endColorstr="#228334",GradientType=1);
}

.container>header.purple-bg{ background: #9853a1 !important;}
.container>header.purple-bg p{color: #6b2c91;}
.container>header.purple-bg:before{background: #6b2c91;}

.container>header.darkcyan-bg{ background: #61c0b7 !important;}
.container>header.darkcyan-bg p{color: #008578;}
.container>header.darkcyan-bg:before{background: #008578;}

.container>header.red-bg{ background: #f58c6e !important;}
.container>header.red-bg p{color: #d11824;}
.container>header.red-bg:before{background: #d11824;}

@media only screen and (max-width: 540px){
  .container>header{ align-items: center;}
  .container>header p{font-size: 30px; padding: 0 15px;}
  .container>header:after {border-bottom: 105px solid #fff; border-left: 60px solid transparent;}
}

/*BLOCK LIST*/
.comp{ list-style:none; padding:0px; margin:0px;  }
.comp>li{ padding-left: 15px;}
.comp>li>ul{ padding:10px 0px; list-style:none; margin:0px; padding-bottom:30px;}
.comp>li>ul>li{ padding:1px; padding-left:20px; }
.comp>li>ul.b-small>li{ position: relative; padding-left: 40px; }/*padding-left: 80px;*/
.comp>li>ul.b-small>li>b{ position: absolute; left: 0; margin-left: 0; font-size: 13px; font-weight: bold;}
.comp>li>ul.b-small>li>ul{ margin-left: 0; }
.comp>li>ul.b-small>li>ul>li{ position: relative; padding-left: 32px; margin-bottom: 0;}
.comp>li>ul.b-small>li>ul>li>b { position: absolute; left: 0; margin-left: 0;font-size: 13px;font-weight: bold;}

.block-title{ display:block; margin:0px; padding:5px 0px; font-size:16px; font-weight:500; color:#FFF; position: relative;}
.block-title:after { position: absolute; content: ''; right: 0; bottom: 0; width: 0; height: 0; border-top: 10px solid transparent; border-right: 10px solid #fff;}
.block-title:before { position: absolute; content: ''; right: 0; bottom: 0; width: 0; height: 0; border-top: 32px solid transparent;}

.block-title.blue-bg:before {border-right: 32px solid #0497d2;}
.block-title.purple-bg:before {border-right: 32px solid #8276bd;}
.block-title.green-bg:before {border-right: 32px solid #60c268;}
.block-title.red-bg:before {border-right: 32px solid #f17272;}

.block-title.orange-bg {background: #f6911e !important;}
.block-title.orange-bg:before {border-right: 32px solid #f8aa52;}
  
/* BG COLORS */
.aqua-bg{ background:rgba(0,159,142,1.00);}
.green-bg{ background: #3fae49;}
.orange-bg{ background:rgba(234,137,44,1.00);}
.darkorange-bg{ background-color:rgba(223,83,42,1.00);}
.purple-bg{ background: #6c5faa;}
.cyan-bg{ background:rgba(29,175,218,1.00);}
.blue-bg{ background: #0072bc;}
.lime-bg{ background-color:rgba(129,190,67,1.00);}
.brown-bg{ background-color:rgba(152,126,71,1.00);}
.light-blue-bg{background-color:rgba(195,218,224,1.00);}
.cream-bg{ background-color:#ECE8DA;}
.turquoise-bg{ background:#218CAE;}
.skyblue-bg{ background:#F5FBFC;}
.lime-alt-bg{ background:#85B200;}
.wine-bg{ background-color:rgba(172,39,104,1.00);}
.red-bg{  background-color: #ed6666;}
.dark-turquoise-bg{ background-color:rgba(0,106,117,1.00);}

/* TEXT COLORS */
.blue-text{ color:rgba(4,135,249,1.00) !important;}
.red-text{color:rgba(242,10,10,1.00);}
.aqua-text{ color:rgba(61,181,186,1.00);}
.orange-text{ color:rgba(234,137,44,1.00);}
.white-text{ color:#FFF;}
.purple-text{ color:rgba(93,42,122,1.00);}
.yellow-text{ color:#FFEB20;} 
.darkred-text{color:#B31E2C;}
.turquoise-text{ color: #008578;}
.darkgreen-text{ color:rgba(133,187,65,1.00);}
.green-text{ color: #4db848 !important;}
.darkblue-text{ color: #2b5f9c !important;}
.cyan-text{color: #27b4e8 !important;}

/* BORDER COLOR */
.lime-border{ border-color:rgba(129,190,67,1.00);}
.light-blue-border{border-color:rgba(195,218,224,1.00);}
.white-border{ border-color:rgba(255,255,255,1.00);}
.brown-border{ border-color:rgba(151,125,71,1.00);}
.orange-border{ border-color:rgba(234,137,45,1.00);}
tr.white-border, th.white-border{ border-color:#FFF!important;}
.black-border{ border-color:#000;}

/* TEXT STYLES*/
.center-text{ text-align:center;}
.right-text{ text-align:right;}
/* BLOCK TITLE INPAGE*/
.block-header{display:flex; align-items: center; justify-content: flex-end; font-size:18px; font-weight:500; height:40px; margin-bottom:0; padding-right:180px; position:relative; z-index:10;}
.block-header:after{ display:block; bottom: 0; content:''; position:absolute; right:0; top:0; width:260px; z-index: -1;}
.block-header:before{ bottom: 0px; content:''; display:block; position: absolute; right: -15px; top:0px; width:10px; z-index:-99; }
.block-header>strong{ position: absolute; right: 0; top: 0; bottom: 0; color: #fff; line-height: 15px; display:flex; align-items: center; max-width: 310px; font-size: 14px; z-index: 10; padding-right: 10px;}
 
.block-header.blue{ color: #fff;}
.block-header.blue:after{
  background: rgb(0,114,188);
  background: -moz-linear-gradient(90deg, rgba(0,114,188,1) 0%, rgba(4,151,210,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,114,188,1) 0%, rgba(4,151,210,1) 100%);
  background: linear-gradient(90deg, rgba(0,114,188,1) 0%, rgba(4,151,210,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0072bc",endColorstr="#0497d2",GradientType=1);
}
.block-header.blue:before{background: #0497d2;}

.block-header.orange{ color: #fff;}
.block-header.orange:after{
  background: rgb(233,111,44);
  background: -moz-linear-gradient(90deg, rgba(233,111,44,1) 0%, rgba(247,147,29,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(233,111,44,1) 0%, rgba(247,147,29,1) 100%);
  background: linear-gradient(90deg, rgba(233,111,44,1) 0%, rgba(247,147,29,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e96f2c",endColorstr="#f7931d",GradientType=1);
}
.block-header.orange:before{background: #f7931d;}

.block-header.green{ color: #fff;}
.block-header.green:after{
  background: rgb(34,131,52);
  background: -moz-linear-gradient(90deg, rgba(34,131,52,1) 0%, rgba(79,165,62,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(34,131,52,1) 0%, rgba(79,165,62,1) 100%);
  background: linear-gradient(90deg, rgba(34,131,52,1) 0%, rgba(79,165,62,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#228334",endColorstr="#4fa53e",GradientType=1);
}
.block-header.green:before{background: #4fa53e;}

@media only screen and (max-width: 400px) {
  .block-header{height:auto; padding: 5px; text-align: left; margin-right: -15px; margin-left: -15px; margin-top: -15px;}
  .block-header:before{display: none;}
  .block-header:after{display: none;}

  .block-header.blue{color: #fff;}
  .block-header.blue{
    background: rgb(0,114,188);
    background: -moz-linear-gradient(90deg, rgba(0,114,188,1) 0%, rgba(4,151,210,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,114,188,1) 0%, rgba(4,151,210,1) 100%);
    background: linear-gradient(90deg, rgba(0,114,188,1) 0%, rgba(4,151,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0072bc",endColorstr="#0497d2",GradientType=1);
  }
  .block-header.orange{ color: #fff;}
  .block-header.orange{
    background: rgb(233,111,44);
    background: -moz-linear-gradient(90deg, rgba(233,111,44,1) 0%, rgba(247,147,29,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(233,111,44,1) 0%, rgba(247,147,29,1) 100%);
    background: linear-gradient(90deg, rgba(233,111,44,1) 0%, rgba(247,147,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e96f2c",endColorstr="#f7931d",GradientType=1);
  }
  .block-header.green{ color: #fff;}
  .block-header.green{
    background: rgb(34,131,52);
    background: -moz-linear-gradient(90deg, rgba(34,131,52,1) 0%, rgba(79,165,62,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(34,131,52,1) 0%, rgba(79,165,62,1) 100%);
    background: linear-gradient(90deg, rgba(34,131,52,1) 0%, rgba(79,165,62,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#228334",endColorstr="#4fa53e",GradientType=1);
  }
}

/*H TAGS*/
/* === LINE ADD ===*/
.block-header.orange + h1{color: #fff; background: #f18324; font-size: 29px; line-height: 1.1; margin-top: 15px; margin-right: -15px; margin-left: -15px; padding: 1.4rem 15px;;}
.block-header.orange ~ h3{color: #0096d1;}
.block-header.orange ~ h3:before{border-color: #0096d1;}
.block-header.orange ~ h4{color: #26b4e8;}

.block-header.blue + h1{color: #fff; background: #1083c9; font-size: 29px; line-height: 1.1; margin-top: 15px; margin-right: -15px; margin-left: -15px; padding: 1.4rem 15px;;}
.block-header.blue ~ h3{color: #0096d1;}
.block-header.blue ~ h3:before{border-color: #0096d1;}
.block-header.blue ~ h4{color: #26b4e8;}
.block-header.blue ~ h6{color: #009f8e; font-size: 15px; font-weight: 500; display: inline-block; border-top: 2px solid #009f8e; padding-top: .5rem;}

.block-header.blue ~ h2.orange{font-size: 18px; padding-left: 0; background: #fff; color: #f7931d;}
.block-header.blue ~ h2.orange strong{color: #f58145;}
.block-header.blue ~ h2.orange>.glyphicon{ font-size: 25px; width: 45px; height: 45px; border-radius: 50%; background: #f58145;}
.block-header.blue ~ h2.orange:before{ content:''; position: absolute; top: 50%; right: 0; height: 2px; width: calc(90% - 250px); background: #f7931d;}

.block-header.blue ~ h2.purple{font-size: 18px; padding-left: 0; background: #fff; color: #7668c4;}
.block-header.blue ~ h2.purple strong{color: #4a45b0;}
.block-header.blue ~ h2.purple>.glyphicon{ font-size: 25px; width: 45px; height: 45px; border-radius: 50%; background: #4a45b0;}
.block-header.blue ~ h2.purple:before{ content:''; position: absolute; top: 50%; right: 0; height: 2px; width: calc(90% - 250px); background: #6050a1;}
.block-header.blue ~ h2.purple > .glyphicon ~ span{ color: #7668c4; font-size: 14px !important; right: 0px; bottom: -22px; position: absolute;}

.block-header.blue ~ h2.aqua{font-size: 18px; padding-left: 0; background: #fff; color: #37cee7;}
.block-header.blue ~ h2.aqua strong{color: #00bcd4;}
.block-header.blue ~ h2.aqua>.glyphicon{ font-size: 25px; width: 45px; height: 45px; border-radius: 50%; background: #00bcd4;}
.block-header.blue ~ h2.aqua:before{ content:''; position: absolute; top: 50%; right: 0; height: 2px; width: calc(90% - 250px); background: #2bc7db;}
.block-header.blue ~ h2.aqua > .glyphicon ~ span{ color: #2bc7db; font-size: 14px !important; right: 0px; bottom: -22px; position: absolute;}

.block-header.blue ~ h2.green{font-size: 18px; padding-left: 0; background: #fff; color: #fe9635;}
.block-header.blue ~ h2.green>.glyphicon{ font-size: 25px; width: 45px; height: 45px; border-radius: 50%; background: #97cf46;}
.block-header.blue ~ h2.green:before{ content:''; position: absolute; top: 50%; right: 0; height: 2px; width: calc(90% - 250px); background: #97cf46;}

.block-header.blue ~ h2.g-purple{
  font-size: 22px;
  padding-left: 15px;
  margin-left: -15px;
  color: #fff; 
  background: rgb(76,65,147);
  background: -moz-linear-gradient(90deg, rgba(76,65,147,1) 0%, rgba(115,114,181,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(76,65,147,1) 0%, rgba(115,114,181,1) 100%);
  background: linear-gradient(90deg, rgba(76,65,147,1) 0%, rgba(115,114,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4193",endColorstr="#7372b5",GradientType=1);
}
.block-header.blue ~ h2.g-purple:before{ content:''; position: absolute; bottom: 0; right: 0; top: 0; width: 10px; background: #4c4193;}


h1{ color: #f26221; padding: 0 5px 10px 0; position:relative; line-height:30px; font-size:32px; font-weight:500; }
h2{ padding:0px 0px;line-height:45px;position:relative;margin-bottom:24px;}
h4,h3{ margin-bottom:14px; display:block;}

h3{ color:#54bc74; font-weight:700;position: relative; padding: 5px 10px}
h3:before{border-left: 5px solid #54bc74;position: absolute;content: '';border-radius: 10px;top: 0;bottom: 0;left: 0;}
h3[class] {padding: 0;}
h3[class]:before {display: none;}
h3.darkcyan{color: #088868; border-top: 2px solid #088868; font-weight: 500; display: inline-block;}

h4{ color: #f7921e; font-weight: 700; font-size: 19px;}/*#4db848*/

h2>.glyphicon{ background-color:rgba(0,0,0,0.35); display:block; float:left; margin:0px; padding:0px; height:100%; min-width:44px; text-align:center; line-height:45px; top:0px; margin-right:10px; color:#FFF; border-radius:4px; background-color:rgba(124,171,65,1.00);}
h2>.glyphicon+span{ text-align:right; position:absolute; bottom:-20px; right:0px; font-size:14px; line-height:16px; }

h2.green-text{ border-right: solid 8px #71bf44; border-bottom: 0; margin: 0 0 20px; border-radius: 0; background: #f4faf0; }
h2.green-text>.glyphicon{ width: 60px; height: 60px; display: flex; justify-content: center; align-items: center; margin: 0; float: initial; border-radius: 10px; background: #71bf44;}
h2.green-text>.glyphicon+span{ font-size: 17px; font-weight: 700; left: 75px; top: 0px; bottom: 0px; right: initial; line-height: initial; display: flex; align-items: center;}

h2.blue-text{ font-size: 23px; color:#0497d2; border-bottom: 0; margin: 10px 0 40px; border-radius: 0; background: #f4fbfd; }
h2.blue-text>.glyphicon{font-size: 27px; width: 60px; height: 60px; display: inline-flex; justify-content: center; align-items: center; margin: 0; float: initial; border-radius: 10px; background: #0497d2;}
h2.blue-text>.glyphicon+span{ color: #0072bc; font-size: 17px; font-weight: 700; left: 5px; bottom: -22px; right: initial; line-height: initial; display: flex; align-items: center;}

h2.purple-text {font-size: 18px; padding-left: 0;border-radius: 0;background: #fff;color: #7668c4;}
h2.purple-text>.glyphicon { width: 45px; height: 45px; font-size: 25px; border-radius: 50%; background: #5dbf7b;}
h2.purple-text > strong{ color: #4a45b0;}

h2.purple-bg{ 
  border-bottom: 0; margin: 0 0 34px; border-radius: 0; color: #fff; padding: 5px 8px 10px; font-size: 27px; line-height: initial; background: rgb(75,65,147); background: -moz-linear-gradient(90deg, rgba(75,65,147,1) 0%, rgba(114,114,181,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(75,65,147,1) 0%, rgba(114,114,181,1) 100%);
  background: linear-gradient(90deg, rgba(75,65,147,1) 0%, rgba(114,114,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4193",endColorstr="#7272b5",GradientType=1);
}
h2.purple-bg>.glyphicon{ margin:0 0 0 4px; font-size: 22px; width: 40px; min-width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; float: right; border-radius: 50%; background: #71bf44;}
h2.purple-bg>.glyphicon+span{ color: #f7921e; font-size: 15px; font-weight: bold; display: flex; align-items: center;}

h2.green-bg{ font-size: 22px; border: 0; padding-left: 22px; border-radius: 0;background: #5dbf7b; color: #fff;}
h2.green-bg:before{ content: ''; position: absolute; bottom: 0; right: 0; width: 0px; min-height: 100%; border-left: 22px solid transparent; border-bottom: 45px solid #fff;}
h2.green-bg:after{ content: ''; position: absolute; bottom: 0; left: 0; width: 0px; min-height: 100%; border-right: 22px solid transparent; border-top: 45px solid #fff;}
h2.green-bg>.glyphicon{ font-size: 30px; display: flex; justify-content: center; align-items: center; border-radius: 50%; background: #5dbf7b;}

h2.blue-bg{ font-size: 22px; border: 0; padding-left: 22px; border-radius: 0;background: #017bc0; color: #fff;}
h2.blue-bg:before{ content: ''; position: absolute; bottom: 0; right: 0; width: 0px; min-height: 100%; border-left: 22px solid transparent; border-bottom: 45px solid #fff;}
h2.blue-bg:after{ content: ''; position: absolute; bottom: 0; left: 0; width: 0px; min-height: 100%; border-right: 22px solid transparent; border-top: 45px solid #fff;}
h2.blue-bg>.glyphicon{ font-size: 30px; display: flex; justify-content: center; align-items: center; border-radius: 50%; background: #017bc0;}

h2.orange-bg{ font-size: 22px; border: 0; padding-left: 22px; border-radius: 0;background: #f68d1f; color: #fff;}
h2.orange-bg:before{ content: ''; position: absolute; bottom: 0; right: 0; width: 0px; min-height: 100%; border-left: 22px solid transparent; border-bottom: 45px solid #fff;}
h2.orange-bg:after{ content: ''; position: absolute; bottom: 0; left: 0; width: 0px; min-height: 100%; border-right: 22px solid transparent; border-top: 45px solid #fff;}
h2.orange-bg>.glyphicon{ font-size: 30px; display: flex; justify-content: center; align-items: center; border-radius: 50%; background: #f68d1f;}

h2.turquoise-bg{ font-size: 22px; padding-left: 20px; border: 0; border-radius: 0; color: #fff; background: #00b195;}
h2.turquoise-bg:before{ content: ''; position: absolute; top: 0; left: 0; bottom: 0; width: 10px; background: #008578;}
h2.turquoise-bg>.glyphicon{ background: transparent; float: right; margin-right: 5px;}

h2.wine-bg, h2.purple-bg{ border-color:rgba(230,230,231,1.00);}
h2.wine-bg >.glyphicon {background-color:rgba(172,39,104,1.00);}
h2.dark-turquoise-bg{ border-bottom:solid 4px rgba(0,163,178,1.00)!important;}

h5{ font-weight:500; margin-left: 14px; font-size: 14px; margin-bottom: 15px;}
h5:before{ content:''; margin-left:-14px; margin-right:8px; line-height:inherit;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:6px solid #ef3a61; display:inline-block;}
h5>b{color:rgba(50,130,154,1.00);}

.level{ display:block; text-align:right; overflow-y:hidden; color: #bfc0bf; font-weight: 500;} 
.level>.holder{ vertical-align:middle; display:inline-block; margin-right:6px; line-height:12px; color: #5dbf7b;}
.level>span{ position: relative; display:inline-flex; background-color:#e9ebee; align-items: center; justify-content: center; margin:0px 2px; color:#91a7a8; font-size: 13px; border-radius: 50%; width: 18px;}
.level>span.active{ background-color:#005D89;}

h2.green-bg + .level{ margin-top: -22px; margin-bottom: 15px;}

h6{ font-size: 17px; font-weight: 700; color: #0396d1;}
h6.green{ font-size: 16px; font-weight: 500; color: #008984; display: inline-block; border-top: 2px solid #008984; padding-top: .5rem;}


@media only screen and (max-width: 400px) {
  h1{line-height:25px; font-size:25px;}
  h3{font-size: 20px;}
  h4{font-size: 16px;}
}
@media only screen and (max-width: 600px) {

  .block-header.blue + h1{ font-size: 24px; }
}
/* LIST STYLES */
ul{ list-style:none; padding-left:0px; margin-left:10px; }
ul.with-margin{ margin-left:30px;}
li{ padding-left:22px;}
ul > li a{ color: #19bae7 !important; }
/* === LINE ADD ===*/
ul > li > b{ float:left; margin-left:-35px; text-align: right; width: 28px;}
ul > li > b{ color: #3fae49;}
ul > li > ul{margin-left: 0;}
ul > li > ul > li > b{ color: #f6921e;}
/*ul>li>b{ color: #ef3a61;}*/
div[data-storable] > ul > li > b{ color: #3fae49;}
ul.dark>li>b{color:rgba(143,23,88,1.00);}

.main-container>ul{ padding:0px;}
ul.no-padding{ padding:0px; list-style:none;}
ul.no-m{ margin: 0;}
ul.no-mt{ margin-top: 0;}
ul.no-mb{ margin-bottom: 0;}
ul.no-ml{ margin-left: 0;}
ul.no-mr{ margin-right: 0;}

li{ margin-top:7px; margin-bottom:7px;}

ul.has-bullet>li{  background-position:left 7px; background-repeat:no-repeat; background-image:url(../images/bullet.png); background-size:8px; }
ul.has-arrow>li{  background-position:left 7px; background-repeat:no-repeat; background-image:url(../images/bullet-2.png); background-size:8px; }

ul.triple-column{ column-count:3;}
ul.double-column, div.double-column{ column-count:2;}

ul.use-box>li{ display:block; padding:10px; position:relative; text-indent:20px; margin-bottom:20px; box-shadow:2px 2px 3px #A1A1A1;}
ul.use-box>li.orange-box{ background-color:rgba(254,214,146,1.00); }
ul.use-box>li.green-box{ background-color:rgba(224,231,155,1.00); }
ul.use-box>li.blue-box{ background-color:rgba(201,233,251,1.00); }

ul.use-box.triangle-mode>li.orange-box:before, 
ul.use-box.triangle-mode>li.orange-box:after{ border-color:rgba(233,154,29,1.00);}
ul.use-box.triangle-mode>li.green-box:before, 
ul.use-box.triangle-mode>li.green-box:after{ border-color:rgba(165,199,21,1.00);}
ul.use-box.triangle-mode>li.blue-box:before, 
ul.use-box.triangle-mode>li.blue-box:after{ border-color:rgba(0,159,227,1.00);}
ul.use-box.triangle-mode>li:before{ 
  position:absolute;  left:-10px; top:0px; content:'';  width: 0;   height: 0; 
  border-top: 0px solid transparent!important;
  border-bottom:30px solid transparent!important; 
  border-right:10px solid; }
ul.use-box.triangle-mode>li:after{ 
  position:absolute;  left:0px; top:0px; content:'';  width: 0;   height: 0; 
  border-top: 0px solid transparent!important;
  border-bottom: 30px solid transparent!important; 
  border-left:40px solid;  }

ul.use-box.square-mode>li.blue-box:before{ border-color:rgba(1,105,180,1.00);}
ul.use-box.square-mode>li.blue-box:after{ background:rgba(0,159,227,1.00);}
ul.use-box.square-mode>li.green-box:before{ border-color:rgba(136,176,39,1.00);}
ul.use-box.square-mode>li.green-box:after{ background:rgba(188,207,1,1.00);}
ul.use-box.square-mode>li.orange-box:before{ border-color:rgba(237,108,36,1.00);}
ul.use-box.square-mode>li.orange-box:after{ background:rgba(248,172,1,1.00);}

ul.use-box.square-mode>li{ margin-top:28px;}
ul.use-box.square-mode>li:before{ 
position:absolute; display:block; content:'';  top:-18px; left:0px; width:14px; height:18px;
border-color:rgba(1,105,180,1.00);
border-top: 18px solid transparent!important;
border-bottom:00px solid transparent!important; 
border-right:14px solid; }
ul.use-box.square-mode>li:after{
position:absolute; display:block; height:30px; width:28px; top:-18px; left:14px; content:'';
}

ul.use-box.border-box>li{ padding-left:30px;}
ul.use-box.border-box>li>p:before{ content:' '; position:absolute; width:6px; height:6px; border-radius:3px; margin-top:8px; margin-left:-12px; }
ul.use-box.border-box>li{ border-left:solid 10px;}

ul.use-box.border-box>li.cyan-border>b{ color:rgba(0,174,213,1.00);}
ul.use-box.border-box>li.cyan-border>p:before{ background-color:rgba(0,174,213,1.00);}
ul.use-box.border-box>li.cyan-border{ border-left-color:rgba(0,174,213,1.00);}

ul.use-box.border-box>li.orange-border>b{ color:rgba(235,129,36,1.00);}
ul.use-box.border-box>li.orange-border>p:before{background-color:rgba(235,129,36,1.00);}
ul.use-box.border-box>li.orange-border{border-left-color:rgba(235,129,36,1.00);}

ul.use-box.border-box>li.fucsia-border>b{ color:rgba(229,1,125,1.00);}
ul.use-box.border-box>li.fucsia-border>p:before{background-color:rgba(229,1,125,1.00);}
ul.use-box.border-box>li.fucsia-border{border-left-color:rgba(229,1,125,1.00);}

ul.use-borders li{border:solid; border-top-width:16px; border-bottom-width:16px; border-left-width:30px; border-right-width:30px; padding:6px 8px;}
ul.use-borders li:after{ content:''; border-color:rgba(1,105,180,1.00);
display:block; float:right;
border-top: 18px solid transparent!important;
border-bottom:00px solid transparent!important; 
border-right:14px solid;  }

.line-and-circle{  padding:20px 2px 20px 50px; position:relative; }
.line-and-circle>p{background-color:#FFF; padding:8px 12px; margin:0px; box-shadow:inset 2px 2px 2px #ccc;}
.line-and-circle:before{ display:block; position:absolute; width:3px; background:#FFF; left:28px; top:30px; bottom:0px; content:'';}
.line-and-circle:after{ display:block; position:absolute; width:15px; height:15px; top:18px;  left:22px; content:''; border:solid 3px #FFF; border-radius:7px;}

/* TABLE STUFF*/
table{ border-collapse:collapse; border:solid 1px;}
tr{ border-collapse:collapse;  border:solid 1px; border-color:inherit; }
th,td{  border:solid 1px; border-color:inherit; padding:2px; height:28px;}
th{ text-align:inherit;}
td{ vertical-align:text-top;}
td.vcenter{ vertical-align:middle;}
td.space{ padding-left:22px;}
table.purple th{ background:rgba(136,62,151,1.00); color:#FFF; text-align:center;}
table.purple td.sub{ background-color:rgba(235,225,240,1.00); color:#000;}
table.purple td{ background-color:rgba(249,245,250,1.00); color:#000; border:solid 2px #FFF!important;}

table.mean th{ background: #e6007d; color:#FFF; text-align:center; border:solid 1px #fff!important;}
table.mean td{ color:#000; border:solid 1px #fff!important; background-color: #fdeef6;}

table.yellow th{ background:rgba(233,154,29,1.00); color:#FFF; text-align:center; border:solid 1px #FFF!important;}
table.yellow td{ color:#000; border:solid 1px #E8992F!important; background-color:rgba(254,245,234,1.00); vertical-align:middle;}

table.green th{ background: #9ccb3b; color:#FFF; text-align:center; border:solid 1px #dfecc1 !important; padding: 8px;}
table.green td{ color:#000; border:solid 1px #dfecc1 !important; background-color:rgba(254,245,234,1.00); padding: 8px;}

table.table-aqua > thead > tr > th { border: 1px solid #02b4a7 !important; background: #02b4a7; color: #fff;}
table.table-aqua > tbody > tr > td {border: 1px solid #02b4a7 !important;}

table.turquoise> thead > tr > th {  border-bottom: 1px solid #00a99d !important;  background:rgba(0,106,117,1.00);  color: #fff;}
table.turquoise > tbody > tr > td { vertical-align:middle;  border: 1px solid rgba(255,255,255,1.00); background-color:rgba(227,238,241,1.00) !important;}

table.table-orange th{ font-weight: 500; background: #f47d33; color:#FFF; text-align:center; border:solid 1px #f47a2a!important;}
table.table-orange td{ color:#58585a; border:solid 1px #f47a2a !important; font-weight: 500;}
table.table-orange.table-bordered > tbody > tr {background-color: #fff;}
table.table-orange.table-striped > tbody > tr:nth-of-type(odd) {background-color: #feebdb;}
table.table-orange td > div[data-toggle="btn-radio"]>button:first-child{border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
table.table-orange td > div[data-toggle="btn-radio"]>button:last-child{ border-top-right-radius: 5px; border-bottom-right-radius: 5px;}

table.table-orange-comp > thead > tr > th { border: 1px solid #f6911e !important; background: #f6911e; color: #fff; font-weight: 500; padding: 5px 15px; font-size: 16px;}
table.table-orange-comp > tbody > tr > td {border: 1px solid #fff; padding: 4px 8px; background: #fef9f4;}

table.table-blue > thead > tr > th { border: 1px solid #0072bc !important; background: #0497d2; color: #fff; font-weight: 500;}
table.table-blue > thead > tr > th:first-child { background: #0072bc;}
table.table-blue > tbody > tr > td {border: 1px solid #0497d2;}
table.table-blue.table-striped > tbody > tr:nth-of-type(odd) {background-color: #f8fcfe;}

table.table-purple > thead > tr > th { border: 1px solid #4d4395 !important; background: #7064ac; color: #fff; font-weight: 500;}
table.table-purple > thead > tr > th:first-child { background: #4d4395;}
table.table-purple > tbody > tr > td {border: 1px solid #7064ac;}
table.table-purple.table-striped > tbody > tr:nth-of-type(odd) {background-color: #f4f1f8;}

.table > thead > tr > th{vertical-align: middle;}
.table > tbody > tr > td{vertical-align: middle;}

.stacktable { width: 100%; }
.st-head-row { padding-top: 1em; }
.st-head-row.st-head-row-main { padding-top: 0; }
.st-key { width: 49%; text-align: right; padding-right: 1%; }
.st-val { width: 49%; padding-left: 1%; }

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media only screen and (max-width: 740px){
  h2.blue-bg { font-size: 17px;}
}
@media only screen and (max-width: 600px){

/*h2.blue-bg{padding: 8px 0px; line-height: 20px;}*/
}

    
@media (max-width: 520px) {
  h2.blue-bg {font-size: 18px; line-height: 46px;padding-left: 5px;}
  h2.blue-bg>.glyphicon {margin-right: 0; font-size: 22px;}  
  h2.blue-bg:before { border-left: 10px solid transparent;}
  h2.blue-bg:after { border-right: 10px solid transparent;}

  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }
  table > tbody > tr > td.st-key{font-weight: 500 !important;}

  table.table-orange-comp.stacktable > tbody > tr:first-child{color: #fff;}
  table.table-orange-comp.stacktable > tbody > tr:first-child >th{font-weight: 500; background: #f6911e !important; }
  table.table-orange-comp.stacktable > tbody > tr > th{background: #fef9f4; font-weight: 400; padding: 8px; vertical-align: middle; border: 1px solid #fff !important;}
  table.table-orange-comp.stacktable > tbody > tr > td{border: 1px solid #fff; background: #fef9f4;}
  table.table-orange-comp.stacktable > tbody > tr > td.st-key{background: #f6911e; color: #fff; text-align: left; width: 20%;}
  
  table.table-aqua.stacktable > tbody > tr:first-child{text-align:center; background: #02b4a7 !important; color: #fff;}
  table.table-aqua.stacktable > tbody > tr:first-child >th{font-weight: 500;}
  table.table-aqua.stacktable > tbody > tr > th{font-weight: 400; padding: 8px; vertical-align: middle; border: 1px solid #00a99d !important;}
  table.table-aqua.stacktable > tbody > tr:nth-of-type(odd) {background: #f6fbfb;}
  
  table.table-blue.stacktable > tbody > tr:first-child{text-align:center; color: #FFF; background: #0072bc;}
  table.table-blue.stacktable > tbody > tr:first-child >th{font-weight: 500;}
  table.table-blue.stacktable > tbody > tr > th{font-weight: 400; padding: 8px; vertical-align: middle; border: 1px solid #0072bc;}
  table.table-blue.stacktable > tbody > tr > td{border: 1px solid #0072bc;}
  table.table-blue.stacktable > tbody > tr > td.st-key{background: #0497d2; color: #fff; }

  table.table-purple.stacktable > tbody > tr:first-child{text-align:center; color: #FFF; background: #4d4395;}
  table.table-purple.stacktable > tbody > tr:first-child >th{font-weight: 500;}
  table.table-purple.stacktable > tbody > tr > th{font-weight: 400; padding: 8px; vertical-align: middle; border: 1px solid #4d4395;}
  table.table-purple.stacktable > tbody > tr > td{border: 1px solid #4d4395;}
  table.table-purple.stacktable > tbody > tr > td.st-key{background: #7064ac; color: #fff; }

  table.table-dual-orange.stacktable > tbody > tr{color: #333; font-size: 14px;}
  table.table-dual-orange.stacktable > tbody > tr:first-child{text-align:center;}
  table.table-dual-orange.stacktable > tbody > tr:first-child > th{font-weight: 500;}
  table.table-dual-orange.stacktable > tbody > tr > th{font-weight: 400; padding: 8px; vertical-align: middle; border: 1px solid #fff;}
  table.table-dual-orange.stacktable > tbody > tr > td.st-key{ color: #333; }

  table.table-dual-aqua.stacktable > tbody > tr{color: #333; font-size: 14px;}
  table.table-dual-aqua.stacktable > tbody > tr:first-child{text-align:center;}
  table.table-dual-aqua.stacktable > tbody > tr:first-child > th{font-weight: 500;}
  table.table-dual-aqua.stacktable > tbody > tr > th{font-weight: 400; padding: 8px; vertical-align: middle; border: 1px solid #fff;}
  table.table-dual-aqua.stacktable > tbody > tr > td.st-key{ color: #333; }

}

@media (max-width: 430px) {
  h2.blue-bg {line-height: 24px; font-size: 16px; align-items: center;display: flex;}
  h2.blue-bg>.glyphicon {min-width: 35px;line-height: 40px;}
}

/* MISC*/
.container-proj{ padding:10px 10px; 
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

article{ display:block; margin:4px auto; background:rgba(209,203,191,1.00); border-top:solid 5px rgba(234,137,44,1.00); border-bottom:solid 5px rgba(234,137,44,1.00); padding:10px 15px;}
article>p{ margin:0px;}

/* CONFIG. NOTE*/

.note{ display:block; margin:10px 0px; background-color: #fff7e6; padding:7px 14px;}
.note q, q{ text-align:right; display:block;}
.note.alt{ background-color:rgba(242,246,227,1.00)!important;}
.note h4.center{text-align: center; color: #333;}
.note.border{border: 2px solid #fddcb2; border-radius: 4px;}

.note.aqua{background: #f4fbfb;}
.note.aqua.border{border: 2px solid #e8f7f7;}
.note.aqua h4{color: #02b4a7;}

.note-aqua{ display:block; margin:5px 0px; background-color: #edf8f8; padding:1rem; border-top: 2px solid #00adab;}


.know-box{ display:block; margin:5px auto; max-width:820px; color:#FFF; 
-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4); margin-bottom:18px; margin-top:20px; padding-bottom:10px;}
.know-box>p{ padding:5px; margin:0px;  }
.know-box>.box-title{  position:relative;  height:34px; line-height:34px; padding:0px 5px;}

.know-box>.box-title>.glyphicon{ color:rgba(255,229,0,1.00); text-align:right;  font-size:60px; position:absolute; right:-4px; top:-20px; text-shadow:1px 1px 2px #000; font-weight:bolder;}
.know-box>.box-body{ padding-top:4px; font-weight:normal;  color:rgba(65,65,65,1.00); background-color:#FFF; }

.img-block{ margin-bottom:20px; display:block;}

.separate{ margin-top:30px;}

/* MULTIMEDIA USE*/
.img-responsive{ max-width:700px; width:100%; max-height: auto; margin:0 auto;} 
img[data-zoomable]{ cursor:pointer; }
video{ display:block; max-width:100%; height:auto; margin:14px auto;}

/****** BUTTONS SECTION GENERIC ******/
.button-container{ display:block; text-align:right; clear:both!important;  margin-top:15px; }
.button{text-decoration: none !important; font-size: 15px; font-weight: 600; line-height:20px; padding:10px; border-radius:0px; -webkit-border-radius:0px; height:auto; display:inline-block;}
.button-container .button:first-child{border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.button-container .button:last-child{border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
/*.button+.button{ border-left:solid 1px rgba(255,255,255,0.20);}*/

.button-primary{ background-color:#6D9C36; border:none; color:#FFFFFF; cursor:pointer; }
.button-primary:hover{ background-color:#327931!important; color:#FFFFFF; text-decoration:none;}

.button-default{ 
  color: #fff; 
  border: 0px; 
  background: #00a8a7;
  box-shadow: 0px 4px 0px 0px #089090;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.button-default:hover{color: #fff; background: #039998; }
.button-default:focus{color: #fff; background: #306d85; box-shadow: 0px 4px 0px 0px #285c70 !important;}

div[data-toggle="btn-radio"]{ margin:0 auto; text-align:center;}
div[data-toggle="btn-radio"]>button{ display:inline-block; line-height:24px; border:none; padding-left:10px; padding-right:10px; color:#FFFFFF;
background:#cecece; outline: none;}
div[data-toggle="btn-radio"]>button:hover{background: #3cb0fd;}
div[data-toggle="btn-radio"]>button:first-child{border-top-left-radius:10px; border-bottom-left-radius:10px;}
div[data-toggle="btn-radio"]>button:last-child{border-top-right-radius:10px; border-bottom-right-radius:10px;}
div[data-toggle="btn-radio"]>button+button{ border-left:solid 1px #BBBBBB;}
.checked{ background: #0b9e29!important;}

div[data-toggle="btn-radio"].inline{ display:inline-block!important; float:right!important;}

/* INTERACTIVE STUFF */
p[contenteditable=true] {
   resize:none; /* disable resizing */
   text-indent:0px; min-height:26px;  display:block; margin-top:6px; margin-bottom:6px; margin-left:auto; margin-right:auto;
  line-height:26px;   position: relative;    border:none;color:#0333FF;
    background: -webkit-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.0) 4%) 0 49px;
    background: -moz-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    background: linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    -webkit-background-size: 100% 26px;
    -moz-background-size: 100% 26px;
    -ms-background-size: 100% 26px;
    background-size: 100% 26px;
  vertical-align:top;
}

span[contenteditable=true] {
   resize:none;   
   text-indent:0px; min-height:26px; display:block; margin-top:6px; margin-bottom:6px; margin-left:auto; margin-right:auto;
  line-height:26px; position: relative; border:none; color:#0333FF;
    background: -webkit-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.0) 4%) 0 49px;
    background: -moz-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    background: linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    -webkit-background-size: 100% 26px;
    -moz-background-size: 100% 26px;
    -ms-background-size: 100% 26px;
    background-size: 100% 26px;
  vertical-align:top;
}
span[contenteditable=true].inline {   min-width: 140px;  resize:none;   display: inline-block; text-indent:0px; margin:0px; height:inherit; line-height:inherit; }
span[contenteditable=true].short { text-align:center;  min-width: 50px;  resize:none;   display: inline-block; text-indent:0px; margin:0px; height:inherit; line-height:inherit; max-height:40px}
span[contenteditable=true].medium { text-align:center; min-width: 120px;  resize:none;   display: inline-block; text-indent:0px; margin:0px; height:inherit; line-height:inherit; max-height:40px }

p[data-hint]:empty:before {  content: attr(data-hint);  color:#6B6B6B;  float:left; display: block; }
p[data-init-with]:before{  content: attr(data-init-with);  color:#6B6B6B;  float:left; margin-right:4px;  display: block; }
span[data-init-with]:before{  content: attr(data-init-with);  color:#6B6B6B;  float:left; margin-right:4px; }
span[data-hint]:empty:before{  content: attr(data-hint);  color:#6B6B6B;  float:left; margin-right:4px; }

.double-line{ min-height:52px!important;}
.triple-line{ min-height:78px!important;}
.many-line{min-height:156px!important;}

.highlight{ color:#00EB45 !important;}
.glossary-word{ color: #f7921e; font-weight: bold; cursor:pointer; text-decoration:none;}
.popup-container{ display:block; position:fixed; z-index:999999; left:0px; right:0px; bottom:0px; background-color:rgba(0,0,0,0.38);

}
.popup-window{ display:block; position:absolute;  left:0px; right:0px; color:rgba(69,69,69,1.00); height:auto;
 margin:0px auto; background:rgba(255,255,255,1.00); border-top:solid 5px rgba(234,137,44,1.00); border-bottom:solid 5px rgba(234,137,44,1.00); padding:10px 15px;
 max-width:880px;
}
.popup-title{ display:block; line-height:30px; color:rgba(42,112,127,1.00); font-weight:bold; margin:0px;}
.popup-body{ display:block; margin:0px;}
.popup-copy{ display:block; cursor:pointer; top:-24px; right:0px; padding:2px 9px;  position:absolute; background-color:rgba(234,137,44,1.00); color:#FFF; border-top-left-radius:5px; text-decoration:none;}
.popup-copy:hover{ text-decoration:none; color:#EEEEEE;}
span.arrow-up{
position:absolute; top:-10px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 6px 10.4px 6px;
border-color: transparent transparent #ffffff transparent;
}

span.arrow-down{
position:absolute; bottom:-10px;
width: 0;
height: 0;
border-style: solid;
border-width: 10.4px 6px 0 6px;
border-color: #ffffff transparent transparent transparent;
}

/**/
.np{padding: 0;}
.npb{padding-bottom: 0;}
figcaption{ padding:8px; font-weight: 500; font-size: 14px; background: #fef6e1; color:#27211b/*rgba(1,177,187,1.00)*/; border-radius: 0px 0px 5px 5px; margin:0 auto; }
figcaption:before{ display:inline-block;  content:' '; width:10px; height:10px; background-image:url(../images/arrow.png); background-position:center; background-repeat:no-repeat; margin-right:6px; }
figcaption>strong{ font-weight:bold!important;}
figcaption>span{ font-weight:300!important;}

.g-amber figcaption strong{
  font-size:14px; color: #fff; display: block; margin-bottom: 5px; margin-top: -8px; margin-left: -8px; margin-right: -8px; padding: 4px 10px; text-align: left;
  background: rgb(255,117,3);
  background: -moz-linear-gradient(90deg, rgba(255,117,3,1) 0%, rgba(255,202,40,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,117,3,1) 0%, rgba(255,202,40,1) 100%);
  background: linear-gradient(90deg, rgba(255,117,3,1) 0%, rgba(255,202,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7503",endColorstr="#ffca28",GradientType=1);
}
.g-amber figcaption:before{display: none;}

.zoom-holder{ display:block; margin:0px; padding:0px; top:0; bottom:0; left:0; right:0; z-index:9999; position:fixed; background-color:rgba(0,0,0,0.55); overflow:scroll;}
img.zoomed-image{ display:block; margin: 0 auto; padding:0px; position:absolute;}
.zoom-close{ display:block; margin:0; padding:10px; position:fixed; top:4px; right:4px; cursor:pointer; color:#FFFFFF; border:solid 1px #eee; z-index:99999; background-color:rgba(0,0,0,.5);}

strong.purple{ color:rgba(116,69,127,1.00)!important;}

article{ display:block;}
article>p{ margin:0px;}

/*li.is-selected{ color:#05ADE8;}*/
li.is-clickable{ cursor:pointer; border-radius: 4px; padding-top: 4px; padding-bottom: 4px;}
li.is-clickable b{margin-left: -35px; /*margin-left: -16px;*/}

.ui-effects-transfer { border: 2px solid black; background-color:rgba(0,0,0,.3);}

@media only screen and (max-width: 767px) {
  .main-container{ margin:0px!important; border:none; clear:both;}
}
@media only screen and (max-width: 440px) {
  ul.triple-column, ul.double-column, div.double-column{ column-count:1;}
}
/*.katex{ font-size:24px;}
.katex{font-family: Arial !important;}
.katex .mathit{font-family: Arial !important;}*/
span.fx{margin: 0;}
.fx{margin: 0 auto; overflow-x: auto; display: block;padding: 5px 15px;max-width: 720px;}
.fx::-webkit-scrollbar{width: 2px;}
.fx::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,.25);}
.fx::-moz-scrollbar{width: 2px;}
.fx::-moz-scrollbar-thumb{background-color: rgba(0,0,0,.25);}

.katex .mathit{font-size: 15px; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}
.katex .vlist .uncramped .mord.mathit{ font-size: 14px;}
.katex .vlist .scriptstyle.cramped .mord.mathit{ font-size: 14px;}

.katex .textstyle.uncramped .mord.mathrm{font-size: 15px; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}

.katex .mfrac .vlist .scriptstyle.uncramped .mord.mathrm{ font-size: 13px;}
.katex .mfrac .vlist .scriptstyle.uncramped .reset-scriptstyle .mord.mathrm{ font-size: 11px;}
.katex .mfrac .vlist .scriptstyle.cramped .mord.mathrm{ font-size: 13px;}
.katex .mfrac .vlist .scriptstyle.cramped .reset-scriptstyle .mord.mathrm{ font-size: 10px;}

.katex .vlist .scriptstyle.uncramped .mord.mathrm{ font-size: 10px;}
.katex .vlist .textstyle.cramped .mord.mathrm{ font-size: 15px;}
.katex .vlist .textstyle.cramped .scriptstyle.cramped .mord.mathrm{ font-size: 11px;}
.katex .vlist .cramped .mord.mathrm{ font-size: 11px;}


.info-border{margin-bottom:10px; border: 2px solid #f4c22f; border-radius: 8px; padding: 8px 10px 0px;}
.line{min-width: 150px; display: inline-block !important; margin-top: -4px !important; padding-left: 5px; padding-right: 5px;}

.hk-dialog{ 
  display:block; 
  position:absolute; 
  background-color:#FFFFFF; 
  padding:10px 22px; 
  max-height:90%; 
  overflow:auto; 
  border:solid 1px #C6C6C6;
  z-index: 1060;
}
.hk-dialog>ul{ padding:0px;}
.hk-dialog>ul>li{ padding:0px;}
.is-item{display:block; color:rgba(0,178,242,1.00); cursor:pointer; font-size:14px;}
ul[role="chooser"]>li>span{ cursor:pointer; text-align: center;}
.picker>li{ cursor:pointer;}

.panel{ box-shadow: none; border: 0; border-top-left-radius: 0px; border-top-right-radius: 0px;}
.panel .panel-header{padding: 10px 14px; font-weight: bold; color: #fff;}
.panel .panel-content{padding: 10px 14px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;}

.panel-orange .panel-header{background: #ec9733;}
.panel-orange .panel-content{background: #fdf3e9;}
.panel-blue .panel-header{background: #017dc5;}
.panel-blue .panel-content{background: #e7f6fd;}
.panel-aqua .panel-header{background: #39aea6;}
.panel-aqua .panel-content{background: #ecf5f2;}
.panel-green .panel-header{background: #9bcb3a;}
.panel-green .panel-content{background: #f5f9eb;}
.panel-purple .panel-header{background: #824191;}
.panel-purple .panel-content{background: #eee8f2;}
.panel-red .panel-header{background: #cc3331;}
.panel-red .panel-content{background: #fdf3e9;}

.panel-fiusa.border{border-left: 4px solid #ec008c;}
.panel-orange.border{border-left: 4px solid #ec9733;}
.panel-blue.border{border-left: 4px solid #017dc5;}
.panel-aqua.border{border-left: 4px solid #39aea6;}
.panel-green.border{border-left: 4px solid #9bcb3a;}
.panel-purple.border{border-left: 4px solid #824191;}
.panel-red.border{border-left: 4px solid #cc3331;}
.panel-section{padding: 4px 12px; border-radius: 0; background: #fafafa}

figcaption.orange{ padding:7px; background-color:#f46c22;}
figcaption.blue{padding:7px; background: #0093cd;}

.b1{border: 1px solid red;}
.note.blue{ background-color: #def0f8;}
.note.integration{ background-color:rgba(247,244,249,1.00); border-bottom:solid 10px rgba(110,37,121,1.00); 
border-left: solid 44px rgba(124,172,49,1.00); margin-top:-20px; }

/* CARDS DEVAMAYA*/
.card-box{ display: block; margin: 15px auto; max-width: 820px; position: relative;}
.card-box .card-title{ color: #fff; font-size: 16px; font-weight: 600; padding: 8px 10px; border-top-left-radius: 4px; border-top-right-radius: 4px;}
.card-box .card-title > .glyphicon { color: #FFF; font-size: 20px; position: absolute; right: 8px; top: 8px;}
.card-box .card-body{ background: #f1f1f1; color: #555; padding: 8px 10px;}
.card-box .card-footer { padding: 2px 10px 4px; color: #fec021;}

.card-box .card-body.card-img {display: flex;}
.card-box .card-body img { position: relative; height: 100%; width: 200px;}
.card-box .card-body p{ padding-left: 10px;}

@media only screen and (max-width: 520px){
  .card-box .card-body.card-img{ flex-direction: column; align-items: center;}
  .card-box .card-body img {max-height: 100%; width: 100%;}
  .card-box .card-body p{ padding-left: 0; padding-top: 10px;}
  .card-box.gold .card-body p{ padding: 0;}
}


.card-box.green{background: none;}
.card-box.green .card-title{background: #75b51b;}
.card-box.green .card-body{border-bottom: 4px solid #75b51b;}
.card-box.green .card-footer {background: #75b51b;}
.card-box.green .card-footer a{color: #e9f53e;}
.card-box.green .card-footer a:hover, a:focus {color: #efff0f; text-decoration: none;}

.card-box.orange{background: none;}
.card-box.orange .card-title{ background: #ec6907;}
.card-box.orange .card-body{border-bottom: 4px solid #ec6907;}

.card-box.gold{background: none;}
.card-box.gold .card-title{ background: #fec00f;}
.card-box.gold .card-body{border-bottom: 4px solid #fec00f; background: #fffaef; color: #58595b;}

.card-box.blue{background: none;}
.card-box.blue .card-title{ background: #0093cd;}
.card-box.blue .card-body{border-bottom: 4px solid #0093cd;}

.card-box.purple .card-body{background: #edebf5;}
.card-box.purple .card-title{ background: #5f4fa1;}
.card-box.purple .card-footer {background: #e9dbe9; color: #5c5a67}
/*.card-box.purple .card-media {background: #e9dbe9; color: #5c5a67}*/

.planea-box{display: block; margin: 15px auto; max-width: 720px; position: relative;}
.planea-box .header-box{color: #fff; font-size: 16px; font-weight: 600; padding: 12px 10px; background: #ec6907; border-top-left-radius: 4px; border-top-right-radius: 4px;}
.planea-box .header-box > .glyphicon {color: #FFF; font-size: 20px; position: absolute; right: 8px; top: 4px; border-radius: 50%; border: 2px solid #fff; width: 38px; height: 38px; display: flex; justify-content: center; align-items: center;}
.planea-box .content-box{ background: #f1f1f1; padding: 8px 10px;  border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
.planea-box .content-box > ul{ background: #fcfcfe; border-radius: 10px; border: 2px solid #ececec; margin: 0 auto; max-width: 600px; padding: 10px; font-size: 14px;}
.planea-box .content-box > ul > li{ font-weight: 500; padding: 0 5px 0 20px;}
.planea-box .content-box > ul > li > b{ margin-left: -25px; margin-right: .5rem; /*margin-left: -18px;*/}
.planea-box .content-box > ul > li > ul[role='multiple-choice'] { margin: 10px 0 0;}
.planea-box .content-box > ul > li > ul[role='multiple-choice'] > li{ margin: 0 0 4px; color: #4d4d4d; font-weight: 400; border-radius: .5rem; background: #f1f1f1; padding: 7px 4px 7px 20px; }
.planea-box .content-box > ul > li > ul[role='multiple-choice'] > li> b { margin-left: -25px; margin-right: .5rem; /*margin-left: -15px;*/}
.planea-box .content-box > ul > li > ul[role='multiple-choice'] > li.is-clickable.is-selected> b { color: inherit !important;}

/*BIBLIOGRAPHY DEVEAMAYA*/
.bibliography h2{
  background: #00b1bb;
  border-bottom: 0;
  border-radius: 0;
  color: #fff;
  font-size: 38px;
  font-weight: 300;
  margin: 0 0 15px;
  padding: 20px 5px 5px 10px;
  position: relative;
  line-height: initial;
}
.bibliography h2::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-right: 0px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 70px solid #fff;
}
.bibliography .top::after{
  content:'';
  position: relative;
  display: block;
  height: 45px;
  width: 100%;
  background: url(../content/images/banner-blue.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 720px) {
  .bibliography h2::after{
    width: 372px;
  }
}
@media only screen and (max-width: 720px){
  .bibliography h2::after{
    width: 150px;
  }
}
@media only screen and (max-width: 430px){
  .bibliography h2::after{
    width: 72px;
  }
}
@media only screen and (max-width: 340px){
  .bibliography h2::after{
    border-left: 0px solid transparent;
    border-bottom: 0px solid #fff;
  }
}

table.purple th{ background: #783e7a; color:#FFF; text-align:center; border:solid 1px #783e7a!important;}
table.purple td{ color:#000; border:solid 1px #fff !important; background-color: #f0eaf2;}

ul.card-img{flex-wrap:wrap; flex-direction: row; display: flex; justify-content: center;}
ul.card-img li{ 
  text-align: center;
  padding: 4px !important; 
  -ms-flex:0 0 36%;
  flex:0 0 36%;
  max-width:36%
}
@media only screen and (max-width: 450px) {
  ul.card-img{flex-direction: column;}
  ul.card-img li{ max-width:250px;}
}

/*TIMELINE DEVEAMAYA*/
.timeline { list-style: none; padding: 20px 0 20px !important; position: relative; margin-left: 0;}
.timeline:before { top: 0; bottom: 0; position: absolute; content: " "; width: 3px; background-color: #eeeeee; left: 50%; margin-left: -1.5px;}
.timeline > li { padding-left: 0; margin-top: 30px; margin-bottom: 75px; position: relative; display: flex; align-items: center; max-height: 76px;}
.timeline > li:last-child{margin-bottom: 35px;}

.timeline > li > .timeline-badge { background-color: #fff; border-radius: 50%; border: 7px solid; height: 120px; left: 50%; margin-left: -60px; overflow: hidden; position: absolute; text-align: center; width: 120px; z-index: 100;}
.timeline > li > .timeline-panel { width: 40%; padding: 10px; position: relative; text-align: right;}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 30px;
  width: 130px;
  right: -35px;
  border-top: 3px solid #999;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 26px;
  width: 10px;
  height: 10px;
  right: 85px;
  background: #999;
  border-radius: 50%;
  content: " ";
}

.timeline > li.timeline-inverted {justify-content: flex-end;}
.timeline > li.timeline-inverted > .timeline-panel {text-align: left;}
.timeline > li.timeline-inverted > .timeline-panel:before {left: -35px;}
.timeline > li.timeline-inverted > .timeline-panel:after {left: 85px;}

.timeline-title { margin-top: 0; margin-bottom: 5px; font-size: 15px;}
.timeline > li .timeline-panel > p { margin-bottom: 0; font-weight: 500; color: #3e3e3f; padding-top: 7px; text-align: right; font-size: 14px;}
.timeline > li.timeline-inverted .timeline-panel > p {text-align: left;}

.timeline > li.coral > .timeline-badge {border-color: #ee524f;}
.timeline > li.coral > .timeline-panel:before {border-color: #ee524f;}
.timeline > li.coral > .timeline-panel:after {background: #ee524f;}
.timeline > li.coral > .timeline-panel .timeline-title {color: #ee524f;}

.timeline > li.pink > .timeline-badge {border-color: #e72665;}
.timeline > li.pink > .timeline-panel:before {border-color: #e72665;}
.timeline > li.pink > .timeline-panel:after {background: #e72665;}
.timeline > li.pink > .timeline-panel .timeline-title {color: #e72665;}

.timeline > li.purple > .timeline-badge {border-color: #724a7d;}
.timeline > li.purple > .timeline-panel:before {border-color: #724a7d;}
.timeline > li.purple > .timeline-panel:after {background: #724a7d;}
.timeline > li.purple > .timeline-panel .timeline-title {color: #724a7d;}

.timeline > li.blue > .timeline-badge {border-color: #1470a7;}
.timeline > li.blue > .timeline-panel:before {border-color: #1470a7;}
.timeline > li.blue > .timeline-panel:after {background: #1470a7;}
.timeline > li.blue > .timeline-panel .timeline-title {color: #1470a7;}

.timeline > li.aqua > .timeline-badge {border-color: #32bacf;}
.timeline > li.aqua > .timeline-panel:before {border-color: #32bacf;}
.timeline > li.aqua > .timeline-panel:after {background: #32bacf;}
.timeline > li.aqua > .timeline-panel .timeline-title {color: #32bacf;}

.timeline > li.green > .timeline-badge {border-color: #93bb5c;}
.timeline > li.green > .timeline-panel:before {border-color: #93bb5c;}
.timeline > li.green > .timeline-panel:after {background: #93bb5c;}
.timeline > li.green > .timeline-panel .timeline-title {color: #93bb5c;}

.timeline > li.turquoise > .timeline-badge {border-color: #00a99d;}
.timeline > li.turquoise > .timeline-panel:before {border-color: #00a99d;}
.timeline > li.turquoise > .timeline-panel:after {background: #00a99d;}
.timeline > li.turquoise > .timeline-panel .timeline-title {color: #00a99d;}

@media only screen and (max-width: 620px){

  .timeline:before { left: 60px;}
  .timeline > li > .timeline-panel:before {left: 50px; width: 205px;}
  .timeline > li.timeline-inverted > .timeline-panel:before {left: 50px;}
  .timeline > li > .timeline-panel:after {left: 250px;}
  .timeline > li.timeline-inverted > .timeline-panel:after { left: 250px;}

  .timeline > li { justify-content: flex-end;}
  .timeline > li > .timeline-panel { text-align: left;}
  .timeline > li > .timeline-badge { left: 0; margin-left: 0;}
  .timeline > li > .timeline-panel { width: 100%; padding-left: 140px;}
  .timeline > li .timeline-panel > p { text-align: left;}
}

@media only screen and (max-width: 420px){
  
  .timeline:before {left: 46px;}
  .timeline > li { margin-bottom: 50px;}
  .timeline > li > .timeline-badge {width: 90px; height: 90px;}
  .timeline > li > .timeline-panel {padding-left: 100px;}
  .timeline > li > .timeline-panel:before {width: 150px;}
  .timeline > li > .timeline-panel:after {left: 190px;}
  .timeline > li.timeline-inverted > .timeline-panel:after { left: 190px;}
}


.card{padding: 1.5rem; max-width: 720px; margin-bottom: 1rem;}

.card.purple .header{color: #5f4fa1; font-weight: bold; padding: 0 0 1rem;}

.card.purple{background: #eae9f3; border-top: 4px solid #5f4fa1; border-bottom: 4px solid #5f4fa1;}
.card.green{background: #ecf5ea; border-top: 4px solid #40ae49; border-bottom: 4px solid #40ae49;}
.card.cream{background: #fefbe6; border: 2px solid #67abcf;}


.block-header.b-md{padding-right: 10px;}
.g-aqua figcaption strong{
  font-size:12px; color: #fff; display: block; margin-bottom: 5px; margin-top: -8px; margin-left: -8px; margin-right: -8px; padding: 4px 10px; text-align: left;
background: rgb(50,191,181);
background: -moz-linear-gradient(90deg, rgba(50,191,181,1) 0%, rgba(0,158,141,1) 62%);
background: -webkit-linear-gradient(90deg, rgba(50,191,181,1) 0%, rgba(0,158,141,1) 62%);
background: linear-gradient(90deg, rgba(50,191,181,1) 0%, rgba(0,158,141,1) 62%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32bfb5",endColorstr="#009e8d",GradientType=1);}
.g-aqua figcaption{background: #dcf0f0; font-weight: 400; font-size:13px;}
.g-aqua figcaption:before{display: none;}

.g-orange figcaption strong{
  font-size:12px; color: #fff; display: block; margin-bottom: 5px; margin-top: -8px; margin-left: -8px; margin-right: -8px; padding: 4px 10px; text-align: left;
background: rgb(243,108,49);
background: -moz-linear-gradient(90deg, rgba(243,108,49, 1) 0%, rgba(248,163,127,1) 62%);
background: -webkit-linear-gradient(90deg, rgba(243,108,49, 1) 0%, rgba(248,163,127,1) 62%);
background: linear-gradient(90deg, rgba(243,108,49, 1) 0%, rgba(248,163,127,1) 62%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F36C31",endColorstr="#F8A37F",GradientType=1);}
.g-orange figcaption{background: #FDE9DA; font-weight: 400; font-size:13px;}
.g-orange figcaption:before{display: none;}

/*LINE ADD*/
.container-tip{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
/*  max-width: 970px;*/
  height: auto;
  z-index: 1000000;
  padding: 0 1rem;
}
.container-tip b{color: #6fbe44;}
.container-tip .header{background: #6fbe44; color: #fff; padding: .5rem 1.5rem; font-weight: 500; font-size: 16px; border-top-right-radius: 2rem; border-top-left-radius: 2rem;}
.container-tip .body{padding: 1rem 1.5rem; color: #565e6b; background: #fff; overflow-y: auto; border-bottom-right-radius: 2rem; border-bottom-left-radius: 2rem;}
/*#6a7181*/
.close-tip{position: absolute; right: 1.8rem; top: 0; cursor: pointer; width: 30px; height: 30px; padding: .8rem;}
@media (min-width: 768px) {
  .container-tip {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container-tip {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-tip {
    max-width: 1170px;
  }
}

strong.b-red{color: #d93f75;}
strong.t-orange{color: #f36f24;}

.item-box {padding: 1.4rem 1rem;}
.box-lime{background: #ecf4e9;}

ul.has-green>li{position: relative;padding-left:18px;}
ul.has-green>li:before{content: ''; position: absolute; left: 0; top: 7px; width:5px; height: 5px; border-radius: 50%; background: #3fb758;}

ul.has-pink>li{position: relative;padding-left:18px;}
ul.has-pink>li:before{content: ''; position: absolute; left: 0; top: 7px; width:5px; height: 5px; border-radius: 50%; background: #ef436c;}

.note.cream{background: #fff1e4;}

table.table-turquoise thead tr th{ color: #fff; background: #6ac8c4; border: 1px solid #fff !important;}
table.table-turquoise thead tr th[rowspan="2"]{ background: #00a99d; }
table.table-turquoise thead tr th[colspan="3"]{background: #01b9b1; }
table.table-turquoise.table-striped > tbody > tr{ background-color: #ffffff; }
table.table-turquoise.table-striped > tbody > tr td{ border: 1px solid #00a99d; vertical-align: middle;}
table.table-turquoise.table-striped > tbody > tr:nth-of-type(odd) { background-color: #eff7f7;}

table.table-dual-orange thead tr{ border: 1px solid #fff;}
table.table-dual-orange thead th{ color: #fff; background: #00a99d; border: 1px solid #fff;}
table.table-dual-orange thead th:first-child{ background: #f58145; }
table.table-dual-orange.table-striped > tbody > tr:nth-of-type(odd) td:first-child{ background-color: #fedec7;}
table.table-dual-orange.table-striped > tbody > tr td:first-child{ background-color: #feede0; }
table.table-dual-orange.table-striped > tbody > tr{ background-color: #e3f3f1; }
table.table-dual-orange.table-striped > tbody > tr:nth-of-type(odd) { background-color: #c9e9e6;}
table.table-dual-orange.table-striped > tbody > tr td{ border: 1px solid #fff; vertical-align: middle;}

table.table-dual-aqua thead tr{ border: 1px solid #fff;}
table.table-dual-aqua thead th{ color: #fff; background: #4a3f92; border: 1px solid #fff;}
table.table-dual-aqua thead th:first-child{ background: #00a99d; }
table.table-dual-aqua.table-striped > tbody > tr:nth-of-type(odd) td:first-child{ background-color: #c9e9e6;}
table.table-dual-aqua.table-striped > tbody > tr td:first-child{ background-color: #e3f3f1; }
table.table-dual-aqua.table-striped > tbody > tr{ background-color: #e2e0ef; }
table.table-dual-aqua.table-striped > tbody > tr:nth-of-type(odd) { background-color: #cbc8e1;}
table.table-dual-aqua.table-striped > tbody > tr td{ border: 1px solid #fff; vertical-align: middle;}

table.table-shiny tr, table.table-shiny tr td{ border: 1px solid #fff !important; font-size: 14px;}
table.table-shiny > tbody > tr > td:first-child {background: #83b340; color: #fff;}
table.table-shiny > tbody > tr:first-child{background: #eaf1dd;}
table.table-shiny > tbody > tr:nth-of-type(2) > td:first-child{background: #ed1846; color: #fff;}
table.table-shiny > tbody > tr:nth-of-type(2){background: #f2dbdb;}
table.table-shiny > tbody > tr:nth-of-type(3) > td:first-child{background: #f7931d; color: #fff;}
table.table-shiny > tbody > tr:nth-of-type(3){background: #fde9d9;}
table.table-shiny > tbody > tr:nth-of-type(4) > td:first-child{background: #6b2b90; color: #fff;}
table.table-shiny > tbody > tr:nth-of-type(4){background: #e5dfec;}

.table-borderless tbody tr td {border: 0 !important; }

figure{margin: 15px auto;}
figcaption{ padding:8px; font-weight: 500; font-size: 13px; background: #fff; color: #231f20; border-radius: 0; margin:0 auto; border-top: 5px solid #F26D32;}
figcaption>strong{ font-weight:bold; color: #dd5826; font-size:13px;}
/*figcaption:before{ display:inline-block;  content:' '; width:10px; height:10px; background-image:url(../images/arrow.png); background-position:center; background-repeat:no-repeat; margin-right:6px; }*/
figcaption.orange{ padding:7px; background-color:#f46c22;}
figcaption.blue{padding:7px; background: #0093cd;}

[data-chooser]{ 
  position: absolute; 
  z-index: 900;
  background: #fff;
  border-radius: 1rem;
  padding: .5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
[data-chooser] li{ font-size: 14px; padding: 5px 15px; margin: 0; cursor: pointer; color: #6767ec; font-weight: 500;}
[data-chooser] li:hover{ background: #eaeaea;}

/* CONFIG. BORDER*/

.border{ border: 2px solid #040404;padding: 20px;border-radius: 20px;margin-top: 10px;margin-bottom: 10px}
.border-quad{ border: 2px solid #040404;padding: 20px;margin-top: 10px;margin-bottom: 10px}